name: defat
description: "A tailor made app for losing weights and confidence."
publish_to: 'none' 
version: 1.0.0+1
environment:
  sdk: '>=3.2.0 <4.0.0'
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  tflite_flutter: ^0.10.4 
  image_picker: ^0.8.8
  image: ^4.0.17
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
flutter:
  uses-material-design: true 
  assets:
   - assets/icons/
   - assets/models/
